Kurt Tutorials/BattleTank/Content/StarterContent/

Rusty Tutorials/Section_03/BuildingEscape/\.vs/BuildingEscape/v15/Browse\.VC\.db
Rusty Tutorials/*/Build
Rusty Tutorials/*/Binaries
Rusty Tutorials/*/DerivedDataCache
Rusty Tutorials/*/Intermediate
Rusty Tutorials/*/Saved